body,ul,li{ margin:0;padding:0; }
body{ font:12px/1.5 Tahoma; }

#outer{
  width:450px;
  margin:10px auto;
  #tab{
    overflow:hidden;
    background:#000;
    border:1px solid #000;
    li { float:left;color:#fff;height:30px;
      cursor:pointer;line-height:30px;
      list-style:none;padding:0 20px;

    }
      .current{ color:#000;background:#ccc; }
}
  #content{ border:1px solid #000; border-top-width:0;
    height:300px;
    >div{ display:none;  }
    .active{ display:block }
  }


}